<a href="https://colab.research.google.com/github/EnriqueVerdeja033/Econometria-Uso-Paython-desde-0/blob/main/Curso11062025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo,\n  Solamente Tú")

Hola Mundo,
  Solamente Tú

In [ ]:
Numero=3.3
print(Numero)
print(type(Numero))



Cadena= "Gamaliel"
print(Cadena)
print(type(Cadena))



Valor= False
print(Valor)
print(type(Valor))

3.3
<class 'float'>
Gamaliel
<class 'str'>
False
<class 'bool'>

In [ ]:
a=10
b=6
c=7
d=3
e=4
suma= a+b+c+d+e
resta= a-b
division= b/d
multiplicacion= c*e
operacion= b+c-a*d/e
potencia= d ** 4

print(a+b)
print("el valor de la operacion es igual a:" ,suma)
print("el valor de la operacion es igual a:" ,resta)
print("el valor de la operacion es igual a:" ,division)
print("el valor de la operacion es igual a:" ,multiplicacion) # la multiplicación solo se puede con *
print("El Valor que da la operacion es igual a:" ,operacion)
print("El Valor que da la operacion es igual a:" ,potencia) # numero base ** a cuanto se eleva

16
el valor de la operacion es igual a: 30
el valor de la operacion es igual a: 4
el valor de la operacion es igual a: 2.0
el valor de la operacion es igual a: 28
El Valor que da la operacion es igual a: 5.5
El Valor que da la operacion es igual a: 81

In [ ]:
#Operadores Atitmeticos
# // sirve para que la operación sea en número entero
a=2
b=4
Resultado= a // b
print(Resultado)

a=10
b=3
Resultado= a // b
print(Resultado)

0
3

In [ ]:
#Modulo "Residuo de la Division"
#para calcular Modulo se usa "%"
a=10
b=3
Resultado2= a%b
print(Resultado2)

1

In [ ]:
#Raiz Cuadrada
a=25**0.5
print(a)
b=25**(1/2)
print(b)
c=16**(1/4)
print(c)

d= pow(25,1/2)
print(d)
e= pow(81,0.25)
print(e)

5.0
5.0
2.0
5.0
3.0

In [ ]:
import numpy as np #Libreria para calcular raices

x= np.sqrt(81)
print(x)

9.0

In [ ]:
#Jerarquia de Operaciones

#Parentisis, potencias y raices, multiplacaciones y diviiones, sumas y restas

R= ((15-13)*(31-26))+18//(1+4*2)
print("El resultado es:", R)

El resultado es: 12

In [6]:
#Operadores Racionales
Operador= 10 < 20
print(Operador)

True

In [9]:
#Operadores Racionales
a= 5
c= 10
b= 20
Op1= ( a + c) < b
print(Op1)

True

In [13]:
#Operadores Logicos
a=10
b=15
c=20

Op2= ((a>b) and (b<c))
print(Op2)

Op3= ((a>b) or (b<c))
print(Op3)

Op4= not((a>b) or (b<c))
print(Op4)

False
True
False

In [19]:
#Operadores de Asignacion

a=1
a += 3  #se suma, resta, multiplica, etc... los elementos nuevos
a -=1
a *=3
a **=2
print(a)

b=14
b += 6
b -= 4
b *=2
b **=3

print(b)

81
32768

In [51]:
#Salida de Datos

#Tipo Cadena
Nombre= "Fernanda"
Altura= 1.49

print("Mi nombre es...", Nombre)
print("Mi altura es de", Altura)

#Utilizamos -format-
print("Mi nombre es... {} y mi altura es de {}".format(Nombre,Altura))

#ESTA ES LA QUE SE USARA EN CURSO, SE USA COMUNMENTE
print(f"Mi nombre es... {Nombre} y mi altura es de {Altura} metros")

print(f"Hola mi nombre es {Nombre} y mido {Altura} metros")

Mi nombre es... Fernanda
Mi altura es de 1.49
Mi nombre es... Fernanda y mi altura es de 1.49
Mi nombre es... Fernanda y mi altura es de 1.49 metros
Hola mi nombre es Fernanda y mido 1.49 metros

In [54]:
#Entrada de Datos

#input es una funcion que se usa para pedir datos al usuario (Datos Cadena)

Nombre= input("Digite su nombre ")
print(f"Que tal, mucho gusto {Nombre}")

Digite su nombre Santiago el piripituchi
Que tal, mucho gusto Santiago el piripituchi

In [37]:
#Entrada de Datos con Número

Numero= int(input("Digite su numero: "))

print(f"Su numero es {Numero *5}")

Digite su numero: 5
Su numero es 25

In [40]:
#Entrada de Datos con Números Decimales

Numero= float(input("Digite su numero: "))

print(f"Su numero es {Numero *3.75}")

Digite su numero: 4.2
Su numero es 15.75

In [45]:
#Funciones Integradas

#Convertir de Valor Númerico a Cadena
Numero= str(33)
print(Numero)

#Convertir de Valores Enteros a Binarios
N= bin(10)
print(N)

#Calcular Valor Absoluto |a| cambiar valores negativos a positivos

n= abs(-5)
print(n)

#Para Contar los Elementos que hay de un Elemento Tipo Cadena
nn= len("Gama")
print(nn)

33
0b1010
5
4

In [50]:
#Ejercicios
# (n(n+1))/2

#Programar para sumas los primeros N numeros que quiere contar
# 1
n= int(input("Digite el Número Natural que quiere sumar "))
# 2
suma= n * (n+1) // 2
#3
print(f"La suma de los primeros {n} números es {suma}")

Digite el Número Natural que quiere sumar 100
La suma de los primeros 100 números es 5050